@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: "url(/assets/neon2.jpg)";

  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
}
.violet-gradient {
  background: #8a00c4;
  background: linear-gradient(-90deg, #8a00c4 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #8a00c4 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}